/* Crafted with love by wolfcreative.ru :3 */
@font-face{font-family:'Gilroy Regular';src:url(../fonts/Gilroy-Regular.eot);src:url(../fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Regular.woff) format("woff"),url(../fonts/Gilroy-Regular.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Light';src:url(../fonts/Gilroy-Light.eot);src:url(../fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Light.woff) format("woff"),url(../fonts/Gilroy-Light.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Bold';src:url(../fonts/Gilroy-Bold.eot);src:url(../fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-Bold.woff) format("woff"),url(../fonts/Gilroy-Bold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Gilroy Semibold';src:url(../fonts/Gilroy-SemiBold.eot);src:url(../fonts/Gilroy-SemiBold.eot?#iefix) format("embedded-opentype"),url(../fonts/Gilroy-SemiBold.woff) format("woff"),url(../fonts/Gilroy-SemiBold.ttf) format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'Europe Bold';font-style:normal;font-weight:700;src:local('Europe Bold'),local(Europe-Bold),url(../fonts/europe-bold.woff) format("woff"),url(../fonts/europe-bold.ttf) format("truetype")}

%container-padding{
    padding:50px 0 65px;
    @media (max-width:959px){padding:30px 0 40px}
}
body{
    margin:0 auto;font-family:'Gilroy Regular',sans-serif;font-size:18px;line-height:normal;color:#000;
    @media (max-width:959px){font-size:16px;line-height:22px}
}
.uk-container{max-width:1140px}
a{color:#000;transition:.2s ease-in-out}
a:hover,a:focus{color:rgb(138, 138, 138);text-decoration:none;transition:.2s ease-in-out}
b,strong{font-weight:normal;font-family:'Gilroy Semibold',sans-serif}
sup{font-size:11px}

$color-green:#95a147;
$color-lightgreen:#afc137;

.header{
    background:url(../img/backgrounds/header.jpg) no-repeat center / cover;position:relative;padding-bottom:100px;overflow:hidden;
    @media (max-width:860px){padding-bottom:70px}

    header{
        background:transparent url(../img/backgrounds/header_line.png) no-repeat bottom center;padding-bottom:1px;
        @media (max-width:639px){>.uk-container{padding:0}}

        .uk-navbar-nav{
            @media (max-width:1199px) and (min-width:960px){margin-left:-15px}

            >li>a{
                min-height:64px;color:#fff;font:14px 'Gilroy Light',sans-serif;text-transform:none;
                &:hover,&:focus{background:#343434}
            }
        }

        .uk-navbar-toggle{color:#f1f1f1}
        .uk-button{@media(max-width:359px){background:transparent!important;padding:0 15px}}

        // Если липкое-меню активно
        &.uk-active{
            background:rgba(255,255,255,0.95);box-shadow:0 7px 10px -5px rgba(0,0,0,.1);

            .uk-navbar-nav>li>a{
                color:#111;
                &:hover,&:focus{background:#fff}
            }

            .uk-button,.uk-navbar-toggle{color:$color-green}

            .uk-button{
                &:hover,&:focus{color:#fff;background:$color-green}
            }
        }
    }

    .info{
        max-width:620px;margin-top:60px;color:#fff;position:relative;z-index:3;
        
        p{
            font-size:24px;margin-top:25px;
            @media (max-width:959px){font-size:20px;margin-top:15px}
            @media (max-width:639px){font-size:18px}
        }

        .uk-button{margin-top:50px}
    }

    .men{
        background:url(../img/header_men.png) no-repeat;width:639px;height:643px;position:absolute;z-index:2;bottom:0;right:12%;
        @media (min-width:1800px){right:14%}
        @media (max-width:1599px){right:7%}
        @media (max-width:1440px){right:4%}
        @media (max-width:1279px){right:1%}
        @media (max-width:1080px){right:-15%}
        @media (max-width:959px){right:-25%}
        @media (max-width:860px){display:none}
    }

    .fog{background:url(../img/backgrounds/fog.png);width:100%;height:287px;position:absolute;z-index:1;bottom:0;animation:100s scroll infinite linear}
    @keyframes scroll{100%{background-position:-3000px 0}}
}

.description{
    @extend %container-padding;

    p{font-size:22px}

    @media(min-width:960px){.uk-grid:not(:last-child){padding:0 45px}}
}

.howit{
    .box{
        border:10px solid $color-lightgreen;box-sizing:border-box;padding:30px 80px 30px 160px;position:relative;
        @media(min-width:960px){border-left:none}

        &:after{content:'';width:123px;height:181px;background:url(../img/awesome/question.png) no-repeat;position:absolute;top:-37px;right:-10px}
    }

    .list{
        width:360px;margin-left:10px;font:18px 'Gilroy Light',sans-serif;

        .number{
            width:70px;font:48px/42px 'Gilroy Bold',sans-serif;position:relative;

            &:after{content:'';width:55px;height:3px;background:#afc137;display:block;position:absolute;border:4px solid #fff;border-bottom:10px solid #fff;top:27px;left:10px}
        }
    }
}

.case{
    @extend %container-padding;

    background:url(../img/backgrounds/case.jpg) no-repeat center / cover;margin-bottom:210px;

    h2{color:#fff;margin-top:50px}

    .uk-container{
        max-width:980px;border-radius:10px;padding:0;
        .uk-grid{margin-bottom:-180px;border-radius:10px}
    }

    .slider{
        border-radius:10px 0 0 10px;overflow:hidden;
        .slidenav{
            font-size:0px;text-align:right;
            a{
                background:#ebf1df;color:#6b6b6b;display:inline-block;padding: 11px 10px;
                &:hover,&:focus{background:#bbc0b1}
            }
        }
    }

    .info{
        width:370px;padding:28px 30px;box-sizing:border-box;background:#fff;border-radius:0 10px 10px 0;overflow:hidden;

        hr{border-color:#a8a8aa}

        p{font-size:16px;line-height:23px}

        .uk-button{min-width:252px;font-size:20px;line-height:48px}
    }
}

.specialform{
    background:url(../img/backgrounds/specialform.jpg) no-repeat top center / cover;
    p{font-size:16px;padding-left:250px}
}

.offer{
    @extend %container-padding;

    background:url(../img/backgrounds/offer.jpg) no-repeat top right / cover;
    @media(max-width:1700px){background-position:top left}
    @media(max-width:959px){background:#fff}

    p{font-size:22px}

    .uk-grid{
        max-width:960px;margin-top:55px;

        h3{font:18px 'Gilroy Light',sans-serif}
    }
}

// Headers
h1,h2,h3,h4,.uk-h1{font-family:'Gilroy Bold',sans-serif;line-height:normal;color:#111}
h1,.uk-h1{
    font-size:48px;line-height:1.2;color:#fff;
    @media(max-width:959px){font-size:43px}
    @media(max-width:639px){font-size:34px;line-height:normal}
    @media(max-width:439px){font-size:30px}
}
h2{
    font-size:36px;
    @media(max-width:959px){font-size:30px}
    @media(max-width:639px){font-size:26px}
    span{color:$color-lightgreen;font-style:italic}
}
h3,h4{
    font-size:24px;
    @media(max-width:959px){font-size:22px}
    @media(max-width:639px){font-size:20px}
    span{color:$color-lightgreen;font-style:italic}
}

// Buttons
.uk-button{
    border-radius:100px;text-transform:none;

    &.uk-button-ghost {
        background:transparent url(../img/awesome/phone-ghost.png) no-repeat left 10px center;color:#fff;font:14px/36px 'Gilroy Bold',sans-serif;border:1px solid $color-green;padding:0 15px 0 48px;
        &:hover,&:focus{background:rgba(255,255,255,.1);color:#fff}
    }
    &.uk-button-green{
        background:linear-gradient(to bottom, #a0a965 0%,$color-green 100%);border-bottom:4px solid #7a862f;color:#fff;font-family:'Gilroy Bold',sans-serif;
        box-shadow:0px 4px 0px 0px rgba(122, 134, 47, 0.004),0px 11px 46px 0px rgba(149, 161, 71, 0.39),inset 0px 12px 21px 0px rgba(196, 208, 119, 0.4);
        &:hover,&:focus{background:linear-gradient(to bottom, $color-green 0%,#a0a965 100%);color:#fff}
    }

    &.uk-button-medium{
        font:18px/48px 'TT Norms Regular',sans-serif;
        @media(max-width:959px){font-size:16px;line-height:38px}
   }
    &.uk-button-large{
        font:24px/71px 'Gilroy Bold',sans-serif;
        @media(max-width:959px){font-size:18px;line-height:48px}
        @media(max-width:439px){padding:0 20px}
   }
}

// UiKit Replace
.uk-input{height:48px;border-radius:4px}
.uk-lightbox{background:rgba(0, 0, 0, 0.9)}